@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Fraunces', serif;*/

/* Colors */
/* Primary */
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* card */
.card {
  display: flex;
  width: 50%;
  padding: 10px 20px;
}

/* img-section */

/* text-content */

.text-content {
  padding: 14px 10px;
}

/* img {
  max-width: 100%;
} */

/* text-content */

/* mobile */

/* Mobile: 375px */

@media (max-width: 500px) {
  body {
    display: block;
  }

  .card {
    flex-direction: column;
    padding: 18px 10px;
    margin: 10px auto;
  }

  .img-section img {
    width: 100%;
  }
}
